{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskList</title>
    
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
 
    <div class="container"> 
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">TASK</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                
                </li>
              
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Google" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
              </form>
            </div>
          </nav>
          <div>
              <br>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">Tarefas</li>
                </ol>
              </nav>
              
          </div>

		  <br>
		  <br>
		  <div class="alert alert-primary" role="alert">
			Clique nas Tarefas para editar ou Deletar
		  </div>
		  <div id="botoes" class="btn-group" role="group" aria-label="Basic example">
			<button type="button" class="btn btn-primary">Urgente</button>
			<button type="button" class="btn btn-light">Não Urgente</button>
		  </div>
		  <br>
		  <br>
		  

          {% block content %} 
			<div class="nova_tarefa">
				<a class="btn btn-primary btn-lg btn-block" href="{% url 'add' %}" role="button">Adicionar Tarefa</a>
				<br>
			</div>
			
       
          <div class="list-group">
			{% for tarefa in tarefas %}
				{% if tarefa.urgencia == 'SIM' %}
					<a href="{% url 'update' tarefa.id %}" class="list-group-item list-group-item-action active">{{ tarefa.nome }}</a>
				{% else %}
					<a href="{% url 'update' tarefa.id %}" class="list-group-item list-group-item-action ">{{ tarefa.nome }} </a>
				{% endif %}
				
				

			{% endfor %}
            
          </div>

          {% endblock %}


		  <p class="mt-5 mb-3 text-muted text-center">&copy; BS Software</p>
    </div>

   <script src="{% static 'js/script.js'%}" ></script>

    <!--Bootstrap Js-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>